/* Denna fil skall innehålla din CSS kod */
#wrapper1{
    display: grid;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "mn mn mn"
    "sc sc sc"
    "ft ft ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-image: url("../img/istockphoto-1410766826-612x612.jpg");
}

#header {
    grid-area: hd;
    background-color: #d9c8b0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#nav {
grid-area: nv;
    background-color: #d9c8b0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    color: black;
    
}

#nav a {
    color: black;
    text-decoration: none;
}

#header img {
    width: 150px;
    height: 140px;
    border-radius: 50px;
    gap: 10px;
}

#header h1 { 
    text-align: center;
    font-size: 10rem;
}

#main1 {
    grid-area: mn;
    background-color: #7b8c78;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}

#main1 img {
    width: 650px;
    height: 500px;
    border-radius: 15px;
    gap: 10px;
}

#section1 {
    grid-area: sc;
    background-image: url("../img/photo-1471879832106.avif");
    background-size: 100% 100%;
    margin: 10px;
    border-radius: 10px;
}


#footer1 {
    grid-area: ft;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    gap: 10px;

}

#footer1 img { 
    width: 500px;
    height: 550px;
    gap: 10px;
    padding: 40px;
}

#wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "hd hd"
    "nv nv"
    "ma2 ma2"
    "sc2 sc2"
    "ft2 ft2";
    background-image: url("../img/photo-1741518359305-bd534b595680.avif");
    background-size: cover;
}

#main2 {
    grid-area: ma2;
    background-color: #7b8c78;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}

#main2 h2 {
    display: flex;
    align-items: center;
    line-height: 500%;
    padding-left: 10px;
    padding-right: 10px;
}

#section2 {
    grid-area: sc2;
    display: flex;
    justify-content: space-evenly;
    background-color: #FDFCFA;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}

#section2 img {
    width: 500px;
    height: 550px;
    gap: 10px;
    padding: 40px;
    border-radius: 15px;
    
}

#footer2 {
    grid-area: ft2;
    background-color: #d9c8b0;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;


}

#footer2 li {
    display: flex;
    align-items: center;
}

#footer2 h2 {
    padding: 10px;
}

#footer2 h3 {
    padding-top: 5px;
}

#wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "hd hd"
    "nv nv"
    "mn3 mn3"
    "sc3 sc3";

}

#main3 {
    grid-area: mn3;
    display: flex;
    justify-content: center;
    background-color: #7b8c78;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}


#section3 {
    grid-area: sc3;
    display: flex;
    background-color: #d9c8b0;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}

#main3 #img3 {
    width: 500px;
    height: 550px;
    gap: 10px;
    padding: 40px;
    border-radius: 50px;
}

#section3 #img3 {
    width: 500px;
    height: 550px;
    gap: 10px;
    padding: 40px;
    border-radius: 50px;
}