/* Denna fil skall innehålla din CSS kod */
#wrapper1{
    display: grid;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "mn mn mn"
    "sc sc sc"
    "ft ft ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-image: url("../img/istockphoto-1410766826-612x612.jpg");
}

#header {
    grid-area: hd;
    background-color: #d9c8b0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

#nav {
grid-area: nv;
    background-color: #d9c8b0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    color: black;
    
}

#nav a {
    color: black;
    text-decoration: none;
}

#header img {
    width: 150px;
    height: 140px;
    border-radius: 50px;
    gap: 10px;
}

#header h1 { 
    text-align: center;
    font-size: 10rem;
}

#main1 {
    grid-area: mn;
    background-color: #7b8c78;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}

#main1 img {
    width: 650px;
    height: 500px;
    border-radius: 15px;
    gap: 10px;
}

#section1 {
    grid-area: sc;
    background-image: url("../img/photo-1471879832106.avif");
    background-size: 100% 100%;
    margin: 10px;
    border-radius: 10px;
}


#footer1 {
    grid-area: ft;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    gap: 10px;

}

#footer1 img { 
    width: 500px;
    height: 550px;
    gap: 10px;
    padding: 40px;
}